# Heroes Of Pymoli Report

### Importing Modules

In [68]:
import pandas as pd
import os

### Reading in Data Files

In [69]:
#path to the data file
file_url = os.path.join('Data','purchase_data_1.json')

#reading the json file into as a DataFrame
user_data_df = pd.read_json(file_url)

### Display DataFrame

In [70]:
user_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Data Cleaning

### Check if all columns are equal: Pass

In [71]:
user_data_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

### Drop empty rows and check the column count again

In [72]:
user_data_df = user_data_df.dropna(how='any')

user_data_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

## Change the column name

In [73]:
user_data_df = user_data_df.rename(columns={'SN':"Username"})

### Display the DataFrame after Data Cleaning

In [74]:
user_data_df.head()

,Age,Gender,Item ID,Item Name,Price,Username
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Analysis

* Player Count
* Purchasing Analysis (Total)
* Gender Demographics
* Purchasing Analysis (Gender)
* Age Demographics
* Top Spenders
* Most Popular Items
* Most Profitable Items

### Player Count

In [75]:
number_of_players = len(user_data_df['Username'].unique())
print_handler("Total Number of Players",number_of_players)

Total Number of Players: 573

### Purchasing Analysis
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [76]:
unique_items = len(user_data_df['Item ID'].unique())
avg_purchase_price = round(user_data_df['Price'].sum()/user_data_df['Price'].count(),2)
total_no_of_purchases = user_data_df['Price'].count()
total_revenue = user_data_df['Price'].sum()

purchasing_analysis = {
    "Number of Unique Items":unique_items,
    "Average Purchase Price":avg_purchase_price,
    "Total Number of Purchases":total_no_of_purchases,
    "Total Revenue":total_revenue
}

purchasing_analysis_df = pd.DataFrame(purchasing_analysis,index=[0])
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$2.93,780,"$2,286.33"

## Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [77]:
gender_df = user_data_df.groupby('Gender').count()
gender_df['Total Percentage'] = gender_df['Age'] / gender_df['Age'].sum() * 100

# data mugging 
gender_df = gender_df.rename(columns={"Age": "Total Count"})
gender_df = gender_df[['Total Count','Total Percentage']]
gender_df['Total Percentage'] = gender_df['Total Percentage'].map("{:,.1f}%".format)

# display
gender_df

                       Total Count Total Percentage
Gender
Female                         136            17.4%
Male                           633            81.2%
Other / Non-Disclosed           11             1.4%

## Purchasing Analysis (Gender)

`The below each broken by gender`
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Normalized Totals

## Handler Functions

In [31]:
def print_handler(title,value):
    print("{}: {}".format(title,value))